- content_for :page_title do
  = t('admin.push_subscription_blocks.edit.title')

= simple_form_for @push_subscription_block, url: admin_push_subscription_block_path(@push_subscription_block), method: :put do |f|
  = render 'shared/error_messages', object: @push_subscription_block

  %p.hint= t('admin.push_subscription_blocks.enable_hint')

  .field-group
    = f.input :name, as: :string, wrapper: :with_block_label

  .field-group
    = f.input :endpoint, as: :string, wrapper: :with_block_label

  .actions
    = f.button :button, t('admin.push_subscription_blocks.save'), type: :submit
